#size_guides_from_csv {
  border-collapse: collapse;
  width: 100%;
}

#size_guides_from_csv td {
  border: 1px solid #ddd;
  padding: 8px;
  text-transform: capitalize;
}

#size_guides_from_csv tr:nth-child(even){
    background-color: #f2f2f2;
}

#size_guides_from_csv tr:hover {
    background-color: #ddd;
}

#size_guides_from_csv tr:first-child {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #037f67;
  color: white;
}